<% include ./partials/header %>

<div class='ui main text container segment shadow mb-5'>
    <div class='ui huge header'><%= blog.title %></div>
    <div class='ui top attached'>
        <div class='item'>
            <img class='ui centered rounded image' src='<%= blog.image %>'>
            <div class='content'>
                <span><%= blog.created.toDateString() %></span>
            </div>
            <div class='description pb-2'>
                <p><%- blog.body %></p>
            </div>
            <a class='ui orange basic button hover' href='/blogs/<%= blog._id %>/edit'><i class='pencil icon'></i>Edit</a>
            <form id='delete' action='/blogs/<%= blog._id %>?_method=DELETE' method='POST'>
                <button class='ui red basic button hover'><i class='trash alternate icon'></i>Delete</button>
            </form>
        </div>
    </div>
</div>

<% include ./partials/footer %>